* {
  box-sizing: border-box;
}

:root {
  --lighterBlack: #3a404c;
  --bgColor: #1d2026;
  --black: #000000;
  --footerHeight: 200px;
  --headerHeight: 300px;
  --minMainHeight: calc(100vh - (var(--headerHeight) + var(--footerHeight)));
}

/* Utilities */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-centered {
  align-self: center;
}

.full-size {
  width: 100%;
  height: 100%;
}

.heigth-100 {
  width: auto;
  height: 100%;
}

.width-100 {
  width: 100%;
  height: auto;
}

.crystal-box {
  border-radius: 6px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 0.2);
  background-color: rgb(255, 255, 255, 0.1);
}

.light-box-shadow {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 0.3);
}

.arrow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-top: 2px solid rgba(0 0 0 / 0.5);
  border-right: 2px solid rgba(0 0 0 / 0.5);
}

.arrow__down--wide {
  transform: rotate(135deg) skew(15deg, 15deg);
}

.line--small {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  transform: translateX(-50%);
  border-top: 2px solid rgba(0 0 0 / 0.2);
}

.absolute-bottom {
  position: absolute;
  bottom: 15px;
}

.absolute-top {
  position: absolute;
  top: 15px;
}

html {
  font-family: "IBM Plex Sans";
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

/* Body */
body {
  background-color: var(--bgColor);
}

/* Header */
header {
  height: auto;
  width: 100%;
  padding: 30px 0px;
  display: flex;
  flex-flow: column nowrap;
  border-bottom: var(--lighterBlack) solid 1px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

header::after {
  content: "";
  border-bottom: var(--lighterBlack) solid 1px;
  width: 80%;
  top: 0;
  margin: 0 auto;
}

/* Logo */
.logo-container {
  width: auto;
  overflow: hidden;
}

.logo {
  color: black;
  height: 80px;
}

.main-nav-bar {
  padding: 40px;
}

.main-nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  padding: 0;
  margin: 0;
}

.main-nav-bar ul li {
  list-style: none;
}

.main-nav-bar ul a {
  font-size: 1rem;
  color: rgb(116, 128, 152);
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */
main {
  min-height: var(--minMainHeight);
}

main section {
  min-height: 100vh;
  text-align: center;
  background-color: var(--bgColor);
  position: relative;
  z-index: 2;
}

main section:nth-child(n + 2) {
  padding: 10px;
}

main section + section {
  border-top: var(--lighterBlack) solid 1px;
}

.section-title {
  color: rgb(255 255 255 / 0.9);
  text-transform: uppercase;
  font-size: 3rem;
}

.title-container {
  margin: 100px 25%;
  padding: 30px;
  width: auto;
  background-color: rgb(30 128 187 / 0.3);
}

/* Hero */
section.mission {
  height: 100vh;
  position: relative;
  z-index: 3;
}

@media screen and (max-height: 750px) {
  section.mission {
    scroll-snap-align: center;
  }
}

.hero {
  align-items: center;
}

.hero .background-image {
  background-image: url("../images/carlos-muza-hpjSkU2UYSU-unsplash.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px 10px rgb(0 0 0 / 0.3);
}

.hero .content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.hero .content {
  margin: 30px 0;
  background-color: rgb(0 0 0 / 30%);
  padding: 30px;
  color: rgba(255 255 255 / 100%);
  backdrop-filter: blur(10px);
}

.hero-title {
  font-size: 3rem;
  width: 80%;
  max-width: 1000px;
}

.hero-description {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 70%;
  max-width: 800px;
  padding: 15px;
  text-transform: uppercase;
}

/* Portfolio */
section.portfolio {
  background: linear-gradient(#1d3e59, 50%, var(--bgColor));
}

@media only screen and (max-width: 1600px), (max-aspect-ratio: 5/3) {
  section.portfolio {
    position: sticky;
    bottom: -80rem;
  }
}

.portfolio-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.portfolio .card-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.portfolio .card-container:nth-child(2n) {
  justify-content: flex-start;
}

.portfolio .card {
  width: 80vw;
  height: 80vh;
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* filter: blur(3px); */
}

.portfolio .card:focus {
  filter: blur(0);
}

.portfolio .card-container:nth-child(2n) .card {
  flex-direction: row-reverse;
}

.card-section {
  height: auto;
  width: 45%;
}

.card .caption {
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  max-width: 400px;
}

.caption .content {
  text-align: center;
  height: auto;
  text-shadow: 2px 2px 7px rgb(0 0 0 / 0.3);
}

.caption .title {
  color: rgba(255 255 255 / 0.8);
  margin-bottom: 1.5rem;
}

.caption .description {
  color: rgba(255 255 255 / 0.7);
  font-size: 0.5em;
}

.card img {
  width: auto;
  max-height: 90%;
  /* margin: 0 40px; */
  /* padding: 0 40px; */
  border-radius: 3px;
  filter: drop-shadow(5px 5px 20px rgb(0 0 0 / 0.3));
}

/* Members */
section.members {
}

.members .card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.founder-card {
  height: 500px;
  width: 270px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.founder-card__figure {
  height: 70%;
}

.founder-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.founder-card__description {
  padding: 10px;
  height: 30%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.founder-card__name {
  font-size: 2rem;
  color: aliceblue;
}

.founder-card__job-title {
  font-size: 1rem;
  color: rgba(240, 248, 255, 0.5);
}

.founder-card__quote {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-style: italic;
  color: rgba(240, 248, 255, 0.7);
}

/* Footer */
footer {
  background: linear-gradient(60deg, var(--bgColor), var(--black));
  height: var(--footerHeight);
  position: sticky;
  bottom: 0;
  z-index: 0;
}

footer bold {
  font-weight: bold;
}

footer * {
  /* border: red solid 2px; */
}

.footer-wrapper {
  height: 100%;
  position: relative;
  padding: 20px;
  justify-content: space-between;
}

.footer__logo-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__logo {
  width: auto;
  height: 70px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px black);
}

.footer__page-email {
  color: rgba(255 255 255 / 0.5);
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

.footer__contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  color: rgba(255 255 255 / 0.9);
}
